<% layout('/partials/layout.ejs') -%>
<% block('page_title', 'cssModules') -%>
<% block('page_js', '/scripts/pages/cssMod.js') -%>
<% block('page_css', '/styles/pages/cssMod.css') -%>
<div id="learn-cssModules"></div>