.normal{
   color: red;
}
/*全局样式*/
:global(.title){
   color: green;
}
/*Composing CSS Classes*/
.backColor{
   background-color: #c4c4c4;
}
/*a selector could inherit another selector's rules*/
.composeClass{
   background-color: #c4c4c4;
   width: 200px;
   height: 200px;
   color: #ffffff;
}
/*Import Other Modules*/
.importOtherClass{
   background-color: blue;
   width: 300px;
   height: 300px;
   color: gray;
   display: flex;
} 